<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.edu.br/utfpr/oiardubot/OiArdubot"
			class = "br.edu.utfpr.oiardubot.oiArdubot.OiArdubotPackage"
			genModel = "model/generated/OiArdubot.genmodel" />
	</extension>
</plugin>
